*.png
*.pt
__pycache__
*.pyc
*.egg-info
*.egg
wandb
data
ablation*
results
exported_data_cifar_10
results_1
results_baseline
*.pdf
*.csv
*.pkl
.vscode
*.csv
*.json
*.ipynb
*.txt
CLAUDE.md
.claude
fedwm.egg-info
